  body {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    line-height: 1;
    text-align-last: center;
    background-image: url(planner.jpeg);
    color: white;
  }
  
  textarea{
    background: transparent;
    border: none;
    resize: none;
    color: #000000;
    /* border-left: 1px solid black; */
  }
  
  #container{
    font-variant-caps: small-caps;
    align-items: center;
    text-align-last: center;
    max-width: 1400px;
  }
  .jumbotron {
    text-align: center;
    background-color: transparent;
    color: silver;
    border-radius: 0;
    border-bottom: 10px solid silver;
  }
  
  /* .description{
    white-space: pre-wrap;
  } */
  
  .time-block{
    text-align: center;
    border-radius: 15px;
    display: inline-block;
    /* margin-left: 50px; */
  }
  #eightAm{
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    margin-left: 0px;
    width: 200px;
  }
  #nineAm{
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    margin-left: 0px;
    width: 200px;
  }
  #tenAm{
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    margin-left: 0px;
    width: 200px;
  }
  #elevenAm{
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    margin-left: 0px;
    width: 200px;
  }
  #noon{
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    margin-left: 0px;
    width: 200px;
  }
  #onePm{
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    margin-left: 0px;
    width: 200px;
  }
  #twoPm{
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    margin-left: 0px;
    width: 200px;
  }
  #threePm{
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    margin-left: 0px;
    width: 200px;
  }
  #fourPm{
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    margin-left: 0px;
    width: 200px;
  }
  #fivePm{
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    margin-left: 0px;
    width: 200px;
  }
  
  .row {
    white-space: pre-wrap;
    height: 60px;
    text-align: center;
  }
  
  .hour {
    background-color: #d3d3d3;
    color: #000000;
    border-top: 1px solid #000000;
  }
  
  .past {
    background-color: #d3d3d3;
    color: black;
  }
  
  .present {
    background-color: #ff6961;
    color: black;
  }
  
  .future {
    background-color: #77dd77;
    color: black;
  }
  hr {
    width: 100%;
    margin-left: -50px;
    /* margin-right: 50px; */
    height: 2px;
    margin-top: 0px;
    margin-bottom: 0px;
    background-color: silver;
    -webkit-margin-collapse: discard;
    }
  
  
  .saveBtn {
    border-left: 1px solid black;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    background-color: #06AED5;
    color: white;
    width: 70px;
  }
  
  .saveBtn i:hover {
    font-size: 30px;
    transition: all .3s ease-in-out;
    color: green;
  }
/* 
  @media screen and (min-width: 0px) {
    .row.time-block {
      margin-left: 0px;
      width: 200px;
    }
  } */
  
  @media screen and (min-width: 800px) {
    #eightAm {
    margin-left: 25px;
    width: 500px;
    }
    #nineAm {
    margin-left: 25px;
    width: 500px;
    }
    #tenAm {
    margin-left: 25px;
    width: 500px;
    }
    #elevenAm {
    margin-left: 25px;
    width: 500px;
    }
    #noon {
    margin-left: 25px;
    width: 500px;
    }
    #onePm {
    margin-left: 25px;
    width: 500px;
    }          
    #twoPm {
    margin-left: 25px;
    width: 500px;
    }
    #threePm {
    margin-left: 25px;
    width: 500px;
    }
    #fourPm {
    margin-left: 25px;
    width: 500px;
    }
    #fivePm {
    margin-left: 25px;
    width: 500px;
    }
    
  }

  
  


  
